/*------------------------------- GENERAL ----------------------------------*/

body {
  background-color: #013e6b;
  padding-top: 66px;
  position: relative;
  display: inline-block;
  width: 100%;
  color: #4f4f4f;
}
.max-container {
  max-width: 1440px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -33px 36px 38px;
  overflow: hidden;
}

section {
  padding: 4rem 2rem;
}

a.active {
  border-bottom: 2px solid #024581;
}

/*------------------------------- HELPERS ----------------------------------*/

.border-radius-0 {
  border-radius: 0px !important;
}

.text-size-15 {
  font-size: 15.45px !important;
}

.font-weight-semi-bold {
  font-weight: 500;
}

.no-hover-underline:hover {
  text-decoration: none !important;
}

.opacity-0 {
  opacity: 0;
}

/*------------------------------- NAVBAR STYLES ----------------------------------*/

nav.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -12px 22px 9px !important;
}

@media (min-width: 920px) {
  nav.navbar .nav-link {
    position: relative;
    top: 1px;
  }
}

@media (max-width: 919px) {
  nav.navbar .nav-item {
    border-style: solid;
    border-color: rgba(2, 69, 129, 0.15);
    border-width: 1px 0 0 0;
  }
  nav.navbar .nav-item:last-of-type {
    border-width: 1px 0 1px 0;
  }
}

/*------------------------------- FEATURES SECTION ----------------------------------*/

.features-labels {
  font-weight: 300 !important;
}

/*------------------------------- PLANS SECTION ----------------------------------*/

.card-description {
  font-size: 1.7rem !important;
  line-height: 2.1rem;
  padding-bottom: 3px;
}

.card-description-li {
  font-size: 1.55rem !important;
  line-height: 2rem;
  padding-bottom: 3px;
}

.btn-max-width {
  max-width: 195px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/*------------------------------- CONTACT SECTION ----------------------------------*/

.contact-line {
  display: inline-block;
  font-size: 23px;
  margin-bottom: 30px;
}
.contact-line:hover {
  text-decoration: none;
  color: #3e3e3e;
}

#loadingIcon {
  display: none;
  float: right;
  margin-right: 15px;
  margin-top: 9px;
}

#resultDiv {
  width: 80%;
}
